<div class="dbg-toolbar">
<epic:link_action action="dbg_refresh" p:what="file">[R]</epic:link_action>
<epic:link_action action="dbg_toggle" p:what="file">
[<epic:if     set="&Devl/Opts/file;">F</epic:if><epic:if not_set="&Devl/Opts/file;">f</epic:if>]
</epic:link_action>
</div>
<!-- <epic:explain table="Devl/Opts"/> -->

<!--
<table bgcolor="white" width="100%"><tr><td>
<table bgcolor="lightblue" width="100%"><tr>
  <td width="25%" align="center"><font style="font-family:Arial;" color="white" size="-1"><b>Powered by</td>
  <td width="15%" align="center" bgcolor="white"><font color="lightblue"><b>EpicMvc</td>
  <td width="60%" align="center"><font style="font-family:Arial;" color="white" size="-1"><b>A JavaScript framework for small web projects</td>
<td><table cellspacing="0" cellpadding="0"><tr>
<td style="font-size:8pt"><a href="/epic/epic.html">E</a></td>
<td style="font-size:8pt"><a href="/epic/epic.html?_action=go_tags">T</a></td>
</tr><tr>
<td style="font-size:8pt"><a href="$non_debug_app">H</a></td>
<td style="font-size:8pt"><a href="$yes_debug_app">D</a></td>
</tr></table></td>
</tr></table>
<table width="100%"><tr><td align="right"><font style="font-family:Arial" color="lightblue" size="-6"><b>Copyright (c) 2002 Data Transport Solutions, Inc.</td></tr></table>
</td></tr></table>
-->
<epic:page/>
