<style>
.dbg-part { border: solid 8px #888; }
.dbg-tag-error-box { border: solid 2px #C44; font-weight: bold;}
.dbg-tag-error-msg { color: red; }
.dbg-tag-box { border: solid 2px #44C; }
.dbg-part-box { font-size: .5em;
  -webkit-box-shadow: 10px 10px 5px #888;
  padding: 5px 5px 5px 15px;
  width: 10px;
  height: 10px;
  z-index: 99999;
}
.red { color: red; }
.btn-group { background-color: #CCC; border-radius: 6px; }
.dbg-toolbar .btn { padding: 6px 2px; }
</style>
<epic:defer>
			var $dur = "medium"; // Duration of Animation

			$(".dbg-toolbar").css({
				"right" : 0,
				"top" : -46
			})
			$(".dbg-toolbar").hover(function() {
				$(this).stop().animate({
					top : -7
				}, $dur);
			}, function() {
				$(this).stop().animate({
					top : -46
				}, $dur);
			});
			$(".dbg-toolbar").show();
</epic:defer>
<div class="dbg-toolbar" style="position: fixed; z-index: 9999; background-color: #484848; font-size: 10px; padding: 10px 10px 0 10px; top: -52px; right: 0;">
	<div class="btn-toolbar">
		<div class="btn-group">
			<a data-action="click:dbg_refresh" data-params='{"what":"file"}' class="btn btn-mini">
				<span class="glyphicon glyphicon-repeat"></span>
			</a>
			<a data-action="click:dbg_toggle" data-params='{"what":"file"}' class="btn btn-mini">
					<span class="glyphicon glyphicon-file &Devl/Opts/file#.red;"></span>
			</a>
			<a data-action="click:dbg_toggle" data-params='{"what":"tag"}' class="btn btn-mini">
					<span class="glyphicon glyphicon-chevron-left &Devl/Opts/tag#.red;"></span>
			</a>
			<a data-action="click:dbg_toggle" data-params='{"what":"tag2"}' class="btn btn-mini">
					<span class="glyphicon glyphicon-chevron-right &Devl/Opts/tag2#.red;"></span>
			</a>
			<a data-action="click:dbg_toggle" data-params='{"what":"form"}' class="btn btn-mini">
					<span class="glyphicon glyphicon-edit &Devl/Opts/form#.red;"></span>
			</a>
			<a data-action="click:dbg_toggle" data-params='{"what":"model"}' class="btn btn-mini">
					<span class="glyphicon glyphicon-list-alt &Devl/Opts/model#.red;"></span>
			</a>
		</div>
	</div>
	<div style="text-align: center; color: #FFF; letter-spacing: 5px; font-size: 10px; height: 18px; padding-left: 4px; margin-top: -3px;">EPIC</div>
</div>
<!-- </epic:debug> -->
<epic:if set="&Devl/Opts/model;">
	<table width="100%"><tr><td width="20%" style="background-color:#90C0FF;vertical-align:top;padding-top:75px;padding-bottom:20px;">
		<epic:page_part part="dbg_model" dynamic="div" /> <!-- Show model list w/tables -->
	</td><td width="100%" style="vertical-align:top;position:relative;">
			<epic:page />
	</td></tr></table>
</epic:if>
<epic:if not_set="&Devl/Opts/model;">
	<epic:page />
</epic:if>
